<div class="container somthing">
  Other Content
  <span>
    content
    <img src="https://link.com" />
    <div>
      More content
      <!-- comment -->
      <!-- 
        multiline comment
      -->
      <if(condition === "string")>
        <div>
          <span>Content</span>
        </div>
      </if>
      $ const variable = "hello";
      ${variable}
      $ {
        const block = "hey there";
      }
    </div>
  </span>
</div>
